.spinner {
    position: relative;
    height: 10em;
    width: 10em;
    background-color: black;
    background-image: linear-gradient(red 0% 47%, black 47% 53%, white 53% 100%);
    border-radius: 50%;
    border: 0.1em solid black;
    box-sizing: border-box;
    box-shadow: inset 0 0 1em black;
    animation: spinner 1s infinite linear;
}

.spinner::before {
    position: absolute;
    content: "";
    height: 4em;
    width: 4em;
    background-color: white;
    border: 0.4em solid black;
    border-radius: 50%;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
    box-sizing: border-box;
}

.spinner::after {
    position: absolute;
    content: "";
    height: 2.2em;
    width: 2.2em;
    background-color: white;
    border: 0.1em solid black;
    border-radius: 50%;
    top: calc(50% - 1.1em);
    left: calc(50% - 1.1em);
    box-sizing: border-box;
    box-shadow: 0 0 .5em black
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    /* 25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    } */

    100% {
        transform: rotate(360deg);
    }
}